body{
	background-image: url(header-datacenter.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}
p{
	color:white;
	font-style: normal;
}
h1{
	color:white;
	font-style: normal;
}
h2{
	color:white;
	font-style: normal;
}
h3{
	color:white;
	font-style: normal;
}
ul{
	color:white;
	font-style: normal;
}
li{
	color:white;
	font-style: normal;
}
.img-thumbnail{
	width : 350px;
	height : 500px;
 border: none;
 -moz-border-radius : 75px;
 -webkit-border-radius : 75px;
 border-radius : 75px;
}
