body{
	background-image: url(cables-reseau-serveur.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}
p{
	color:white;
	font-style: normal;
}
h1{
	color:white;
	font-style: normal;
}
h2{
	color:white;
	font-style: normal;
}
h5{
	font-style: normal;
}
.img-thumbnail{
	width : 350px;
	height : 500px;
 border: none;
 -moz-border-radius : 75px;
 -webkit-border-radius : 75px;
 border-radius : 75px;
}
button{
	background-color: black;
}
a{
	font-style: normal;
}
